'use strict';

var express = require('express');
var mongo = require('mongodb');
var mongoose = require('mongoose');
var bodyParser = require('body-parser')
var cors = require('cors');
var dns = require("dns");

mongoose.connect(process.env.MONGOLAB_URI);
var app = express();
let Schema = mongoose.Schema;

// Basic Configuration 
var port = process.env.PORT || 3000;

/** this project needs a db !! **/ 

let shortUrlModel = mongoose.model('ShortUrl', new Schema({
  original_url: {
    type: String,
    required: true
  },
  short_url: {
    type: String,
    required: true
  }
}));

app.use(cors());

/** this project needs to parse POST bodies **/
// you should mount the body-parser here
app.use(bodyParser.json()); // for parsing application/json
app.use(bodyParser.urlencoded({ extended: true })); // for parsing application/x-www-form-urlencoded

app.use('/public', express.static(process.cwd() + '/public'));

app.get('/', function(req, res){
  res.sendFile(process.cwd() + '/views/index.html');
});

  
// your first API endpoint... 
app.get("/api/hello", function (req, res) {
  res.json({greeting: 'hello API'});
});

app.post("/api/shorturl/new", (req, res) => {
  let url = req.body.url.replace(/https:\/\/|http:\/\/|www./g, '');
  //console.log(url);
  dns.lookup(url, (err) => {
    if(err){
      console.log(err);
      res.json({"error":"invalid URL"});
    }
    //res.send("success");
    console.log('call');
    console.log(url);
    shortUrlModel.find({ original_url: url }, (err, data) => {
      console.log('call1');
      if(err) res.json({"error":"invalid URL"});
      //console.log(data);
      else
      if(data[0]) {
        //res.send('abc');
        // shortUrlModel.deleteMany((err, data)=>{
        //   if(err) res.send(err);
        //   res.json(data);
        // })
        res.json({
          original_url : data[0].original_url,
          short_url: data[0].short_url
        });
      }
      else {
        shortUrlModel.find().estimatedDocumentCount((err, count) => {
          //console.log('call2');
          if(err) res.json({"error":"invalid URL"});
          else {
            let shortUrlDoc = new shortUrlModel({
              original_url: url,
              short_url: String(count + 1)
            });
            shortUrlDoc.save((err, data) => {
              //console.log('call3');
              if(err) res.json({"error":"invalid URL"});
              else res.json({
                original_url : data.original_url,
                short_url: data.short_url
              });
            });
            // shortUrlDoc.save().select('+original_url +short_url').exec((err, data) => {
            //   console.log('call3');
            //   if(err) res.json({"error":"invalid URL"});
            //   else res.json(data);
            // });
          }
        });
      }
    });
  })
});

app.get("/api/shorturl/:short_url", (req, res) => {
  //console.log(req.params.short_url);
  let short_url = req.params.short_url;
  shortUrlModel.findOne({short_url: short_url}, (err, data) => {
    if(err) res.json({"error":"No short url found for given input"});
    else {
      if(data){
        //console.log(data.original_url);
        res.redirect('https://www.' + data.original_url);
      } else res.json({"error":"No short url found for given input"});
    }
  })
})
app.listen(port, function () {
  console.log('Node.js listening ...');
});